<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        -const variable = true
        title= title1 + ' ' + title2
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        include test-header

        block content

        include test-footer

        script.
            var message = 'pug';
            alert(message);