extends test-layout

block content
    #jasonseo(width=500)
        span.express.nodejs
        button(type='submit') Sutmit

        if variable 
            div It's true
        else 
            div It's false

        for i in fruits
            div= i

        p
            |   Hi!
            |   Enable Multi Lines
            br
            |   Tag can be inserted.