doctype
html
    head
        title= title || 'Search Map Service'
        link(rel='stylesheet' href='/main.css')
    body
        form#search-form(method='get')
            span Search Map Service
            input#search
            select#type
                option(value='') None
                option(value='cafe') Cafe
                option(value='store') Store
                option(value='bank') Bank
                option(value='school') School
            button#search-btn.btn(type='submit') Search
            button#loc-search-btn.btn(type='button') GPS Search
            a#home.btn(href='/') Home
            ul#search-list
        block content
        script.
            var timer;
            document.querySelector('#search').addEventListener('keyup', function (e) {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200) {
                            var predictions = JSON.parse(xhr.responseText);
                            var ul = document.querySelector('#search-list');
                            ul.innerHTML = '';
                            predictions.forEach(function (pred) {
                                var li = document.createElement('li');
                                li.textContent = pred.terms[0].value;
                                li.onclick = function () {
                                    location.href = '/search/' + pred.terms[0].value;
                                }
                                ul.appendChild(li);
                            });
                        } else {
                            console.error(xhr.responseText);
                        }
                    }
                };
                var query = this.value.trim();
                if (timer) {
                    clearTimeout(timer);
                }
                timer = setTimeout(function () {
                    if (query) {
                        xhr.open('GET', '/autocomplete/' + query);
                        xhr.send();
                    }
                }, 200);
            });
            document.querySelector('#search-form').addEventListener('submit', function (e) {
                e.preventDefault();
                if (!this.search.value || !this.search.value.trim()) {
                    this.search.focus();
                    return false;
                }
                if(this.type.value) {
                    return location.href = '/search/' + this.search.value.trim() + '?type=' + this.type.value;
                }
                this.action = '/search/' + this.search.value.trim();
                return this.submit();
            });
            document.querySelector('#loc-search-btn').addEventListener('click', function (e) {
                e.preventDefault();
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var search = document.querySelector('#search');
                        var type = document.querySelector('#type').value;
                        if(!search.value || !search.value.trim()) {
                            search.focus();
                            return false;
                        }
                        var lat = position.coords.latitude;
                        var lng = position.coords.longitude;
                        location.href = '/search/' + search.value.trim() + '?lat=' + lat + '&lng=' + lng + '&type=' + type;
                    }, function () {
                        alert('User Location Authorization Error');
                    }, {
                        enableHighAccuracy: true,
                        maximumAge: 0,
                        timeout: Infinity
                    });
                } else {
                    alert('GPS is not supported');
                }
            });
