extends layout

block content
    fieldset
        legend Create Channel
        form(action='/room' method='post')
            div: input(name='title' placeholder='Channel Title')
            div: input(name='max' type='number' placeholder='Accomodations (Min: 2)' min='2' value='10')
            div: input(name='password' type='password' placeholder='Secret Key (Without, Public Channel)')
            div: button(type='submit') Create